@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
}

header {
  height: 48px;
  background: #3e3c3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 24px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar .desktop-nav {
  display: none;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

ul li a {
  text-decoration: none;
  padding: 0 8px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  height: 40px;
}

.humberger-menu a {
  width: 12px;
  height: 18px;
}

a:hover {
  color: #f55800;
}

i {
  color: white;
}

.landing {
  position: relative;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  overflow: hidden;
}

.landing::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background-image: url("./image/Illustration-header@2x.png");
  background-repeat: no-repeat;
  background-position-x: 395px;
  background-position-y: 322px;
  background-size: 200px;
  transform: rotate(351deg);
}

.landing ul {
  list-style-type: none;
  margin-right: 20px;
}

.landing .social-icon ul {
  display: flex;
  width: 40px;
  padding: 0;
}

.intro h1 {
  font-family: "crete round", serif;
  color: #ff6b00;
  text-transform: uppercase;
  padding: 10px 0;
  line-height: 64px;
  font-size: 56px;
}

.intro h2 {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.intro p {
  font-family: "poppins", sans-serif;
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}
